<section class="top-home">
    <a href="/search">
        <div class="top-home__search">
            输入书名/作者/关键字
        </div>
    </a>

    <div class="slide-banner">
        <div class="">
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11452&_t=index.0.sld.0&&from=main">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01V1KHze11Q/lb3QSrqV6N2qpI.jpg" alt="">
            </a>
        </div>
    </div>

    <ul class="top-home__btn">
        <li>
            <a href="/male">
                <img class="top-home__icon" src="/static/img/male.png" alt="">
                <p class="top-home__dec">男生</p>
            </a>
        </li>

        <li>
            <a href="/female">
                <img class="top-home__icon" src="/static/img/female.png" alt="">
                <p class="top-home__dec">女生</p>
            </a>
        </li>

        <li>
            <a href="http://dushu.xiaomi.com/#page=cate_list&_t=&from=main">
                <img class="top-home__icon" src="/static/img/category.png" alt="">
                <p class="top-home__dec">分类</p>
            </a>
        </li>

        <li>
            <a href="http://dushu.xiaomi.com/#page=rank_list&_t=&from=main">
                <img class="top-home__icon" src="/static/img/rank.png" alt="">
                <p class="top-home__dec">排行</p>
            </a>
        </li>
    </ul>
</section>